<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="WordMakeSetings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
    <WordMakeSetings>
        <add key="水平扫描从左到右" value="True" />
        <add key="数据尾" value="," />
        <add key="扫描线方向水平" value="True" />
        <add key="注解头" value="//" />
        <add key="段标识" value="	[] ={&#xD;&#xA;" />
        <add key="添加段唯一标识" value="True" />
        <add key="数据格式十六进制" value="True" />
        <add key="数据段分行" value="True" />
        <add key="字模偏移" value="1, -3" />
        <add key="输出字节顺序高位在前" value="False" />
        <add key="数据头" value="0x" />
        <add key="字符线框颜色" value="100, 0, 0, 255" />
        <add key="字体" value="文鼎CS书宋二, 9pt" />
        <add key="文件头" value="" />
        <add key="主窗口位置" value="298, 291" />
        <add key="显示放大倍数" value="5" />
        <add key="已点亮区域LCD颜色" value="Info" />
        <add key="未点亮区域LCD颜色" value="Red" />
        <add key="段头" value="byte Image" />
        <add key="自动字体大小" value="False" />
        <add key="竖直扫描从上到下" value="True" />
        <add key="注解尾" value="" />
        <add key="扫描线非整字节的用位０填充" value="False" />
        <add key="数据行头" value="" />
        <add key="段尾" value="};" />
        <add key="数据行尾" value="," />
        <add key="每行数据位" value="20" />
        <add key="文件尾" value="" />
        <add key="字模大小" value="8, 7" />
    </WordMakeSetings>
</configuration>